.filmWrap {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: black;
	position: relative;
	margin: 0 auto;
}

.filmBackdrop {
	width: 100%;
	height: 80vh;
	overflow: hidden;
}
.filmBackdrop img {
	width: 100%;
}

.filmContent {
	width: 90%;
	min-height: 50vh;
	color: white;
	position: relative;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.filmDescription {
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.8em;
	margin-top: 1rem;
}

.filmPoster {
	width: 10rem;
	height: 15rem;
	overflow: hidden;
	position: absolute;
	top: -27%;
	box-shadow: 0px 0px 6px 0px;
	border-radius: 8px;
}

.filmPoster img {
	width: 100%;
}

.filmTitle {
	font-size: 2em;
}

.filmInfo {
	margin-left: 30%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
}

.filmOverview {
	font-size: 0.6em;
}

.filmBottom {
	display: flex;
	align-items: center;
	gap: 1em;
}

.icon {
	color: white;
	font-size: 1.2em;
}

.items {
	width: 5em;
	height: 2.5em;
	font-size: 0.7em;
	font-weight: bolder;
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid #151723;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.items:hover {
	background-color: #546beb;
	color: white;
}

.button {
	width: 8em;
	height: 2.5em;
	font-size: 0.5em;
	border-radius: 8px;
	margin: 0 auto;
	font-size: 0.7em;
	font-weight: bolder;
	box-sizing: border-box;
	transition: all 0.3s ease-in;
}

.button:hover {
	background-color: #546beb;
	color: white;
}

@media screen and (max-width: 700px) {
	.filmPoster {
		width: 7rem;
		height: 11rem;
	}

	.filmBackdrop {
		height: 30vh;
	}

	.filmContent {
		width: 100%;
	}

	.filmInfo {
		margin-top: 7rem;
		margin-left: 0;
	}

	.filmInfo h2 {
		font-size: 1.5em;
	}

	.filmBottom {
		font-size: 1em;
		gap: 0.3rem;
	}

	.button {
		width: 6.5em;
	}

	.items {
		width: 3rem;
	}

	.filmDescription {
		width: 100%;
		font-size: 1.5em;
	}
}
