.seatsBottom {
	width: 90%;
	height: 20%;
	display: flex;
	gap: 1em;
	box-sizing: border-box;
	margin: 0 auto;
}

.seatsChoose {
	width: 30%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.seatsChooseCircle {
	width: 0.6em;
	height: 0.6em;
	background-color: white;
	border-radius: 50%;
}

.seatsChooseText {
	font-size: 0.8em;
}
