.seatsWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.seats {
  width: 5%;
}

.rows {
  width: 90%;
  height: 1.5em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.3em;
}
