.itemImg {
	width: 100%;
	min-height: 12em;
	cursor: pointer;
}

.itemImg img {
	width: 100%;
	height: 12em;
}

.itemBottom {
	width: 100%;
	height: 4rem;
	padding-left: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.itemTitle {
	font-size: 0.8em;
}
