.itemImg {
	width: 100%;
	min-height: 12em;
}

.itemImg img {
	width: 100%;
	height: 12em;
}

.itemSession {
	width: 90%;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.itemBottom {
	width: 100%;
	height: 2rem;
	padding-left: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.itemTitle {
	font-size: 0.8em;
}

.itemDate {
	font-size: 0.5em;
}

.items {
	width: 4.5em;
	height: 2.5em;
	color: #151723;
	background-color: white;
	font-size: 0.5em;
	font-weight: bolder;
	border: 1px solid #151723;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.items:hover {
	background-color: black;
	color: white;
}

.movieSession {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	margin-bottom: 0.5em;
}

.button {
	width: 8em;
	height: 2.5em;
	font-size: 0.5em;
	border-radius: 8px;
	margin: auto;
	transition: all 0.3s ease-in;
}
