.clientTicketsWrap {
	width: 100%;
	min-height: 150vh;
	background-color: #1a1f38f2;
	top: -4rem;
	position: absolute;
	padding-top: 4rem;
	z-index: 130;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	color: #e8e1b3;
}

.box {
	width: 80%;
	min-height: 20rem;
	margin-block: 20px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
}

.card {
	width: 70%;
	height: 12rem;
	background-color: #e8e1b3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	box-sizing: border-box;
	color: black;
}

.infoBlock {
	width: 90%;
	height: 100%;
	display: flex;
}

.ticketTitle {
	font-size: 1.1em;
}

.image {
	width: 10rem;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.imageCode {
	width: 4rem;
	height: 100%;
}

.image img {
	width: 100%;
	height: 100%;
}

.imageCode img {
	width: 100%;
	height: 100%;
}

.ticketInfo {
	width: 70%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding-inline-start: 10px;
}

.infoItems {
	width: 100%;
	height: 3rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 0.8rem;
}

.ticketSeat {
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.8rem;
}

.seats {
	width: 40%;
}

.close {
	font-size: 2em;
	background-color: #673ab7e3;
	color: #d9ceed;
	border-radius: 50%;
	box-shadow: -2px -2px 11px 3px #68fccb;
	position: absolute;
	top: 3%;
	left: 6%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
	.clientTicketsWrap h2 {
		font-size: 1.5em;
		margin-top: 2rem;
		text-align: center;
	}

	.imageCode {
		width: 3rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.ticketTitle {
		font-size: 0.8em;
	}

	.infoBlock {
		width: 90%;
		height: 100%;
		flex-direction: column;
	}

	.ticketInfo {
		width: 100%;
		height: 7rem;
		margin: 0;
	}

	.card {
		justify-content: space-between;
		width: 100%;
	}

	.image {
		width: 100%;
		height: 5rem;
	}

	.infoItems,
	.ticketSeat {
		font-size: 0.6em;
	}

	.ticketInfo h4 {
		font-size: 0.8em;
	}

	.image img {
		object-fit: cover;
		height: 5rem;
	}

	.imageCode img {
		width: 100%;
		height: 100%;
	}
}
