.films {
	width: 100%;
	height: 18rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #151723;
	border-radius: 8px;
	overflow: hidden;
}

.films:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 6px 0px;
}
