.mainWrap {
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 auto;
	position: relative;
}

.carousel {
	width: 100%;
	height: 80vh;
	margin-bottom: 2rem;
}

.movieContainer {
	max-width: 1500px;
	min-height: 80vh;
	margin: auto;
	padding: 1em;
	color: white;
}

.starsWrap {
	width: 100%;
	min-height: 100vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	justify-content: space-between;
	gap: 2em;
	position: absolute;
	bottom: 20vh;
	z-index: 5;
	margin: 20px auto;
	padding: 10px;
}

.icon {
	color: white;
	font-size: 2em;
	cursor: pointer;
	position: absolute;
	top: 2%;
	right: 10%;
}

.icon:hover {
	transform: scale(1.1);
}

.iconDown {
	color: white;
	font-size: 4rem;
	position: absolute;
	top: -40%;
}
