.boxItem {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1rem;
	margin: 2rem auto;
}

.cardsWrap {
	width: 100%;
	min-height: 100vh;
	margin: 3rem auto;
}

@media screen and (max-width: 1000px) {
	.boxItem {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 700px) {
	.boxItem {
		grid-template-columns: repeat(2, 1fr);
	}
}
