.cinemaBottom {
	width: 100%;
	min-height: 30%;
	background: linear-gradient(to bottom right, #3f108b, #57244c);
	padding-left: 2em;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding-block: 1rem;
}

.ticketInfo,
.ticketInfoFilm {
	width: 70%;
	min-height: 80%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 5px;
}

.ticketSeats {
	width: 100%;
	padding-left: 0;
	list-style: none;
}

.ticketRow {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.ticketInfoFilm {
	width: 8rem;
}

.bottomBtn {
	width: 30%;
	height: 5.5rem;
	box-sizing: border-box;
	background-color: #312643;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px 0 0 50px;
}

.ticketCircle {
	width: 0.5em;
	height: 0.5em;
	background-color: white;
	border-radius: 50%;
}

.ticketInfoBlock {
	width: 100%;
	min-height: 20%;
	display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: flex-start;
	font-size: 0.8em;
}

.btn {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #4b2951;
	border: 1px solid #4b2951;
	font-size: 0.8em;
	color: white;
	box-shadow: -2px -2px 11px 3px #68fccb;
	box-sizing: border-box;
	transition: all 0.3s ease-in;
}

.btn:disabled {
	background-color: #38163e;
	border: 1px solid #38163e;
	font-size: 0.8em;
	color: #4f4f4fe6;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 700px) {
	.ticketInfoBlock {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	.ticketRow {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
	}
}
