.headerWrap {
	width: 100%;
	height: 4rem;
	background-color: #1a1f38;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}

.header {
	width: 90%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.headerTitle {
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 2.5rem;
	color: white;
	font-weight: bold;
}

.headerSearch {
	width: 40%;
	height: 3rem;
	position: relative;
	border-radius: 8px;
	box-sizing: border-box;
}

.headerSearch input {
	width: 100%;
	height: 3rem;
	background-color: #4c5376b8;
	font-size: 1em;
	padding-left: 2em;
	padding-right: 3em;
	border: 1px solid #4c5376b8;
	border-radius: 8px;
}

.headerIcon {
	position: absolute;
	top: 25%;
	right: 5%;
	font-size: 1.5em;
	cursor: pointer;
	color: white;
	border: transparent;
}

.headerIcon:hover {
	transform: scale(1.2);
}

.searchList {
	list-style: none;
	width: 100%;
	box-sizing: border-box;
	max-height: 30vh;
	height: auto;
	overflow: auto;
	box-shadow: -3px 2px 9px 0px gray;
	position: absolute;
	left: 0;
	top: 3em;
	margin: 0;
	z-index: 5000;
	background-color: white;
}

.searchItems {
	padding: 0.3em;
}

.searchItems:hover {
	cursor: pointer;
	background-color: rgba(128, 128, 128, 0.418);
	transition: all 0.3s ease-in;
}

.link {
	width: 0.8em;
	height: 0.8em;
	position: absolute;
	top: 33%;
	right: 7%;
	z-index: 10;
	border-radius: 50%;
}

.logoLink {
	text-decoration: none;
}

@media screen and (max-width: 700px) {
	.headerSearch {
		width: 60%;
	}
}
