.d-block {
	height: 100%;
}

.carousel-inner,
.carousel-item {
	height: 100vh;
}

.carousel-caption {
	left: 10%;
	text-align: left;
	width: 60%;
	bottom: 3.5rem;
}

.carousel_title {
	font-size: 2.5em;
}

.div_title,
.div_rate {
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 0 10px;
}

.div_rate {
	display: flex;
	align-items: center;
	gap: 5px;
}

.carousel_icon {
	font-size: 1.2em;
	color: white;
}

.carousel_bottom {
	display: flex;
	width: 3rem;
	height: auto;
	gap: 0.5em;
}

.slider_link {
	text-decoration: none;
	color: white;
}

.main_carousel {
	height: 100vh;
}

@media screen and (max-width: 1000px) {
	.carousel-inner,
	.carousel-item {
		height: 60vh;
	}

	.carousel-caption {
		left: 15%;
		bottom: 1rem;
	}

	.carousel-caption h3 {
		font-size: 1.75em;
	}
	.carousel-caption p,
	.div_rate {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 700px) {
	.carousel-inner,
	.carousel-item {
		height: 35vh;
	}

	.carousel-caption {
		width: 90%;
		left: 5%;
		bottom: 0;
		padding-bottom: 0.5em;
	}

	.carousel-caption h3 {
		font-size: 1.5em;
	}
	.carousel-caption p,
	.div_rate {
		font-size: 0.7em;
	}
}
