.formWrap {
	width: 100%;
	min-height: 150vh;
	background-color: #1a1f38cf;
	top: -4rem;
	bottom: 0;
	position: absolute;
	z-index: 130;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	padding: 2rem;
}

h3 {
	margin-bottom: 2rem;
}

.formBlock,
.clientInfo {
	width: 35vw;
	min-height: 28rem;
	margin-block-start: 5rem;
	margin-block-end: 20px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
	padding: 10px;
	border-radius: 10px;
}

.formBlock p,
h3 {
	text-align: center;
}

.ticketInfo {
	font-weight: lighter;
}

.seats {
	display: flex;
	gap: 20px;
}

.contactForm {
	width: 100%;
	height: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	padding: 10px;
	box-sizing: border-box;
	font-weight: lighter;
}

.contactForm input {
	height: 3rem;
	padding: 0 5px;
	border-radius: 10px;
	color: black;
}

.contactForm input:placeholder-shown {
	font-size: 0.8em;
	color: gray;
}

.contactBtn {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	box-sizing: border-box;
}

.btnSubmit {
	padding: 5px;
	height: 2rem;
	border-radius: 20px;
	background-color: black;
	color: white;
	font-size: 0.8em;
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
}

.btnSubmit:hover {
	opacity: 1;
	transform: scale(1.05);
}

.error {
	font-size: 0.8em;
	color: red;
}

.cinemaClose {
	font-size: 2em;
	background-color: #673ab7e3;
	color: #d9ceed;
	border-radius: 50%;
	box-shadow: -2px -2px 11px 3px #68fccb;
	position: absolute;
	top: 5%;
	left: 6%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.cinemaClose:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 700px) {
	.formWrap {
		flex-direction: column;
		top: -4rem;
		bottom: 0;
	}

	.clientInfo,
	.formBlock {
		width: 100%;
		font-size: 0.8em;
		min-height: 15rem;
	}

	.contactForm {
		height: 4.5rem;
	}
}
