.footer {
  color: white;
  width: 100%;
  height: 20vh;
  padding-top: 2em;
}

.footerContent {
  width: 90%;
  margin: 0 auto;
}

.footerTitle {
  font-size: 1.5em;
}

.footerTitle span {
  font-weight: bold;
  font-size: 1.3em;
}

.footerName {
  font-size: 0.8em;
  font-weight: lighter;
}
