.cinemaWrap {
	width: 100%;
	min-height: 100vh;
	background-color: #1a1f38cf;
	top: -4rem;
	bottom: 0;
	position: absolute;
	z-index: 130;
}

.cinemaHall {
	width: 50vw;
	min-height: 100vh;
	background: linear-gradient(#4a2e96, #180b3d);
	position: relative;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	justify-content: space-between;
	box-sizing: border-box;
	overflow: hidden;
	margin: 2rem auto;
}

.cinemaTitle {
	width: 100%;
	height: 15%;
	font-size: 1.7em;
	text-align: center;
	padding-top: 1em;
}

.cinemaIcon {
	font-size: 2.5em;
}

.cinemaClose {
	font-size: 2em;
	background-color: #673ab7e3;
	color: #d9ceed;
	border-radius: 50%;
	box-shadow: -2px -2px 11px 3px #68fccb;
	position: absolute;
	top: 3%;
	left: 6%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.cinemaClose:hover,
.cinemaDate:hover {
	transform: scale(1.1);
}

.cinemaDate {
	width: 2rem;
	height: 2rem;
	font-size: 2em;
	background-color: #d9ceed;
	color: #673ab7e3;
	border-radius: 50%;
	box-shadow: -5px -3px 11px 3px #68fccb;
	position: absolute;
	top: 3%;
	right: 6%;
	cursor: pointer;
}

.seatsAll {
	width: 100%;
	height: 50%;
}

.cinemaSeats {
	width: 100%;
	height: 80%;
	border: 1px solid black;
	display: flex;
	align-items: center;
}

.calendar {
	position: absolute;
	top: 3.5rem;
	right: 1rem;
}

.btnCalendar {
	width: 100%;
	height: 2.5rem;
	background-color: #4a2e96;
	color: white;
	border: 1px solid transparent;
}

@media screen and (min-width: 1300px) {
	.cinemaHall {
		width: 40vw;
	}
}

@media screen and (max-width: 1000px) {
	.cinemaHall {
		width: 60vw;
	}
}

@media screen and (max-width: 700px) {
	.cinemaHall {
		width: 90vw;
	}

	.cinemaTitle {
		font-size: 1.5em;
	}
}
