.starWrap {
	width: 100%;
	height: 60vh;
	background-color: black;
	display: flex;
	align-items: center;
	color: white;
	justify-content: space-between;
	gap: 2em;
}

.starImage {
	width: 30vw;
	height: 60vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.starImage img {
	width: 70%;
}

.starInfoBlock {
	width: 60vw;
	height: 60vh;
}

.films {
	width: 75%;
	height: 40vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	box-sizing: border-box;
	gap: 2em;
	margin: 0 auto;
}

.itemImg {
	width: 100%;
	min-height: 12em;
}

.itemImg img {
	width: 100%;
	height: 12em;
}

.itemSession {
	width: 90%;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.itemBottom {
	width: 100%;
	height: 4rem;
	padding-left: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.itemTitle {
	font-size: 0.8em;
}

.itemDate {
	font-size: 0.5em;
}

.items {
	width: 3em;
	height: 3em;
	background-color: #546beb;
	color: white;
	font-size: 0.4em;
	text-align: center;
	padding-top: 0.4em;
	border-radius: 3px;
}

.cardsWrap {
	width: 100%;
	min-height: 100vh;
	margin: 3rem auto;
}

@media screen and (max-width: 1000px) {
	.films {
		width: 90%;
	}
}

@media screen and (min-width: 1300px) {
	.films {
		width: 65%;
	}
}

@media screen and (max-width: 700px) {
	.starWrap {
		flex-direction: column;
	}

	.starImage {
		width: 80%;
	}

	.films {
		width: 80%;
		grid-template-columns: 1fr;
		margin-bottom: 1.5rem;
	}

	.starImage {
		width: 40vw;
	}

	.starImage img {
		width: 100%;
	}
}
