html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
